/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

section, main, header, footer {
  display: block;
}

* {
  box-sizing: border-box;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.photo, .photo__content, .navigation__link, .menu__card:hover .card__img, .tag, .social-icon, .ico-coffe-cup, .ico, .icon-path, .btn-circle, .download-button, .link-button__text, .link-button, .button {
  transition: all 0.3s ease-out;
}

.promo__text, .navigation, .link-button, .button, h1, body {
  font-family: "Inter", sans-serif;
}

.modal::-webkit-scrollbar {
  width: 5px;
}
.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}
.modal::-webkit-scrollbar-thumb {
  background: #665F55;
  border-radius: 10px;
}

.logo {
  height: 60px;
}

.hamburger:after, .hamburger:before {
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #403F3D;
  content: "";
  position: absolute;
  border-radius: 2px;
}

.hamburger {
  display: none;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100px;
  border: 1px solid #665F55;
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
@media (max-width: 767.5px) {
  .hamburger {
    display: flex;
  }
}
.hamburger:before {
  top: 16px;
  left: 13px;
}
.hamburger:after {
  bottom: 16px;
  left: 13px;
}

.overlay-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E1D4C9;
  overflow: hidden;
  animation: show-overlay 0.7s ease-in-out;
  z-index: 120;
}

@keyframes show-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hamburger-active:before {
  animation: line-burger-minus 0.5s forwards;
  top: 20px;
  left: 13px;
}
.hamburger-active:after {
  animation: line-burger-plus 0.5s forwards;
  bottom: 20px;
  left: 13px;
}

@keyframes line-burger-minus {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg);
  }
}
@keyframes line-burger-plus {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403F3D;
  background: #E1D4C9;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: #E1D4C9;
}
@media (max-width: 767.5px) {
  h1 {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    color: #E1D4C9;
  }
}

.accent-word {
  color: #B0907A;
  font-style: italic;
}

h2 {
  font-size: 59.9px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
}
@media (max-width: 1023.5px) {
  h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
  }
}
@media (max-width: 767.5px) {
  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
  }
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
}

.button {
  padding: 20px 78px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  cursor: pointer;
}
@media (max-width: 1023.5px) {
  .button {
    cursor: default;
  }
}
.button_primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background: #E1D4C9;
  border: 1px solid #E1D4C9;
}
.button_primary .ico-coffe-cup {
  display: none;
}
@media (max-width: 1359.5px) {
  .button_primary .ico-coffe-cup {
    display: inline-block;
    margin-left: 8px;
  }
}
.button_primary:hover .link-button .ico-coffe-cup {
  display: inline-block;
  animation: hoverLink 0.5s ease-in-out forwards;
}

@keyframes hoverLink {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
    margin-left: 8px;
  }
}
.link-button {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .link-button .hamburger-btn-menu {
    text-align: center;
  }
  .link-button .hamburger-btn-menu .link-button__text {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    margin-right: 11px;
  }
  .link-button .hamburger-btn-menu .ico {
    width: 40px;
    height: 40px;
  }
}

.download-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
  width: 200px;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid #665F55;
  gap: 8px;
}
@media (max-width: 1023.5px) {
  .download-button {
    cursor: default;
  }
}
.download-button:hover {
  background-color: #665F55;
}
.download-button:hover .download-path {
  fill: #E1D4C9;
}
.download-button:hover .text__info, .download-button:hover .link-button__text {
  color: #E1D4C9;
}

@media (max-width: 767.5px) {
  .mobile__buttons {
    display: grid;
    gap: 20px;
  }
}

.btn__info {
  display: flex;
  flex-direction: column;
  width: 92px;
  height: 40px;
}

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid;
  cursor: pointer;
}
@media (max-width: 1023.5px) {
  .btn-circle {
    cursor: default;
  }
}
.btn-circle:hover {
  background-color: #665F55;
}
.btn-circle:hover .arrow-path {
  stroke: #E1D4C9;
}
.btn-circle:hover .refresh-path {
  stroke: #E1D4C9;
}

.btn-object {
  width: 60px;
  height: 60px;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico-coffe-cup {
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon/coffee-cup.svg");
  cursor: default;
}

.ico-arrow {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.ico-map {
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon/pin-alt.svg");
}

.ico-tel {
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon/phone.svg");
}

.ico-time {
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon//clock.svg");
}

.ico-instagramm {
  background-image: url("../assets/icon/instagram.svg");
  width: 24px;
  height: 24px;
}

.download-svg {
  width: 36px;
  height: 36px;
}

.icon-svg {
  width: 24px;
  height: 24px;
}

.social-icon:hover {
  background-color: #E1D4C9;
}
.social-icon:hover .icon-path {
  stroke: #403F3D;
}

.control__buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}
.control:hover {
  cursor: pointer;
  background: #665F55;
}
@media (max-width: 1023.5px) {
  .control:hover {
    cursor: default;
  }
}

.control-selected {
  width: 1px;
  background: #665F55;
}

.progress__line {
  height: 4px;
}

.offer__tags {
  margin-bottom: 40px;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 16px;
}
@media (max-width: 379.5px) {
  .tags > * {
    margin-right: 8px;
  }
}
.tags > *:last-child {
  margin-right: 0;
}

.size__tags .tag {
  margin-right: 8px;
}

.additives .tag {
  margin-right: 8px;
}

.tag {
  cursor: pointer;
  user-select: none;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}
.tag_selected {
  cursor: default;
  background-color: #665F55;
  color: #E1D4C9;
}
.tag_selected .img__tag {
  background: #E1D4C9;
}
.tag_selected .tag-icon {
  background: #E1D4C9;
  color: #403F3D;
}
.tag_bordered {
  border: 1px solid #C1B6AD;
}
.tag_bordered .img__tag {
  background: #C1B6AD;
}
@media (max-width: 1023.5px) {
  .tag_bordered .img__tag {
    background: initial;
  }
}
.tag:hover {
  background-color: #665F55;
  color: #E1D4C9;
}
.tag:hover .img__tag {
  background: #E1D4C9;
}
.tag:hover .tag-icon {
  background: #E1D4C9;
  color: #403F3D;
}
@media (max-width: 1023.5px) {
  .tag:hover {
    cursor: default;
  }
}

.img__tag {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.tag__icon {
  width: 16px;
  height: 24px;
}

.container__wrapper {
  border-radius: 40px;
  padding: 100px;
}
@media (max-width: 1359.5px) {
  .container__wrapper {
    padding: 100px 60px;
  }
}
@media (max-width: 767.5px) {
  .container__wrapper {
    padding: 60px 16px;
  }
}

.menu__card {
  display: flex;
  height: 506px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  animation: show 0.5s ease-in-out;
}
@media (max-width: 1023.5px) {
  .menu__card {
    cursor: default;
  }
}
@media (max-width: 1359.5px) {
  .menu__card {
    margin-bottom: 0px;
  }
  .menu__card:nth-child(n+5) {
    display: none;
  }
}
.menu__card:hover .card__img {
  object-fit: cover;
  transform: scale(0.92);
}

.photo__card {
  overflow: hidden;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.card__title {
  margin-bottom: 12px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 63, 61, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 40px;
  gap: 20px;
  background-color: #E1D4C9;
  width: 768px;
  padding: 16px;
  min-height: 120px;
  max-height: 90%;
}
@media (max-width: 1023.5px) {
  .modal {
    width: 90%;
  }
}
@media (max-width: 379.5px) {
  .modal .photo__card {
    display: none;
  }
}

.modal__close-icon {
  position: absolute;
  top: 30px;
  right: 26px;
  cursor: pointer;
}
.modal__close-icon svg {
  pointer-events: none;
}

.modal__description {
  display: flex;
  flex-direction: column;
  max-width: 438px;
}
@media (max-width: 1023.5px) {
  .modal__description {
    width: 326px;
  }
}

.modal__title {
  margin-bottom: 12px;
}

.size__title {
  margin-bottom: 8px;
}

@media (max-width: 1023.5px) {
  .size__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .size__tags .tag {
    margin-right: 0px;
  }
}

.additives__title {
  margin-bottom: 8px;
}

@media (max-width: 1023.5px) {
  .additives {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .additives .tag {
    margin-right: 0px;
  }
}

.modal__content > * {
  margin-bottom: 20px;
}
.modal__content > *:last-child {
  margin-bottom: 0;
}

.tag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: #C1B6AD;
}

.button_secondary {
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
}
.button_secondary:hover {
  background: #665F55;
  color: #E1D4C9;
}

.modal__price {
  display: flex;
  justify-content: space-between;
}

.modal__alert {
  display: flex;
  cursor: pointer;
  gap: 8px;
  padding: 12px 0px;
  border-top: 1px solid #C1B6AD;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #403F3D;
}

.header {
  padding: 20px 0 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-photo-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-photo-column > * {
  flex-basis: 48.5%;
}
@media (max-width: 1359.5px) {
  .layout-photo-column {
    justify-content: center;
  }
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.layout-2-column > * {
  flex-basis: 45.5%;
}
@media (max-width: 1359.5px) {
  .layout-2-column {
    justify-content: center;
  }
}
@media (max-width: 1359.5px) {
  .layout-2-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .layout-2-column > * {
    flex-basis: 100%;
  }
}
@media (max-width: 1359.5px) and (max-width: 1359.5px) {
  .layout-2-column {
    justify-content: center;
  }
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 22.7%;
}
@media (max-width: 1359.5px) {
  .layout-4-column {
    justify-content: center;
  }
}
@media (max-width: 1359.5px) {
  .layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 40px;
  }
  .layout-4-column > * {
    flex-basis: 24%;
  }
}
@media (max-width: 1359.5px) and (max-width: 1359.5px) {
  .layout-4-column {
    justify-content: center;
  }
}
@media (max-width: 1023.5px) {
  .layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 40px;
  }
  .layout-4-column > * {
    flex-basis: 33%;
  }
}
@media (max-width: 1023.5px) and (max-width: 1359.5px) {
  .layout-4-column {
    justify-content: center;
  }
}

.layout-1-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 640px;
}
@media (max-width: 379.5px) {
  .layout-1-column {
    justify-content: center;
  }
}
@media (max-width: 767.5px) {
  .layout-1-column {
    height: 532px;
  }
}

.wrapper {
  max-width: 1360px;
  margin: auto;
}
@media (max-width: 1359.5px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 767.5px) {
  .wrapper {
    padding: 0 16px;
  }
}

.navigation {
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  gap: 40px;
}
@media (max-width: 768px) {
  .navigation {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    text-align: center;
  }
}

.navigation__link {
  list-style: none;
  cursor: pointer;
  position: relative;
}
.navigation__link:before {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform-origin: right;
  background: #403F3D;
  transform: scaleX(0);
  transition: transform 0.25s;
}
.navigation__link:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}

.link-underline {
  position: relative;
  gap: 8px;
}
.link-underline:before {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform-origin: right;
  background: #403F3D;
  transform: scaleX(0);
  transition: transform 0.25s;
}
.link-underline:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}
@media (max-width: 768px) {
  .link-underline {
    display: none;
    top: 573px;
    right: 32px;
  }
}
@media (max-width: 767.5px) {
  .link-underline {
    display: none;
    top: 573px;
    right: 0;
    left: 0%;
  }
}

.link-button.active-menu {
  position: relative;
  cursor: default;
}
.link-button.active-menu::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform-origin: right;
  background: #403F3D;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}
@media (max-width: 767.5px) {
  .header__navigation {
    display: none;
  }
}

.container__navigation {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container__navigation {
    position: absolute;
    height: 100vh;
    max-width: 688px;
    top: -80px;
    right: 268px;
    transition: right 0.5s ease-in-out;
  }
}
@media (max-width: 767.5px) {
  .container__navigation {
    position: absolute;
    height: 100vh;
    max-width: 688px;
    top: -10%;
    left: 35%;
    right: 0;
    transition: right 0.5s ease-in-out;
  }
}

.promo {
  padding-bottom: 50px;
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 644px;
}
@media (max-width: 767.5px) {
  .intro {
    height: 552px;
  }
}

.promo__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.promo__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.promo__title {
  max-width: 530px;
  margin: 0 0 40px;
  z-index: 2;
}

.promo__text {
  max-width: 530px;
  margin: 0 0 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
  z-index: 2;
}

.favorite {
  padding: 50px 0;
}

.favorite__wrapper {
  text-align: center;
}

.favorite__title {
  margin: 0px;
  padding-bottom: 40px;
}

.coffes__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403F3D;
}

@media (max-width: 767.5px) {
  .coffe__img {
    padding-bottom: 0px;
    width: 348px;
    height: 348px;
  }
}

.coffes__content {
  padding: 20px 0px 0px;
}
.coffes__content > * {
  margin-bottom: 16px;
}
.coffes__content > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.5px) {
  .coffes__content {
    padding: 20px 0px 0px;
  }
}

.control__buttons {
  padding-top: 40px;
}

.arrow-svg {
  width: 24px;
  height: 24px;
}

.arrow-left {
  transform: rotate(180deg);
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  user-select: none;
}

.items-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.coffes {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 0 auto;
}
@media (max-width: 767.5px) {
  .coffes {
    width: 348px;
  }
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.control__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
@media (max-width: 767px) {
  .control__arrow {
    display: none;
  }
}

.control__arrow.left {
  left: 0;
  right: auto;
}

.control__arrow.right {
  right: 0;
  left: auto;
}

.arrow-circle {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
}

.circle-right {
  right: 50%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.about {
  padding: 50px 0 10px;
}

.about__title {
  padding-bottom: 40px;
}

.about-wrapper > * {
  margin-bottom: 40px;
}

.about__content {
  width: 660px;
}

.photo__content {
  overflow: hidden;
  width: 660px;
  height: 430px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1359.5px) {
  .photo__content {
    width: 688px;
  }
}

.photo {
  object-fit: cover;
}
.photo:hover {
  transform: scale(0.92);
}

.photo-long {
  height: 590px;
}
@media (max-width: 1023.5px) {
  .photo-long {
    width: 688px;
  }
}
@media (max-width: 767.5px) {
  .photo-long {
    width: 348px;
  }
}

@media (max-width: 1359.5px) {
  .photo-small {
    display: none;
  }
}

.mobile__app {
  padding: 50px 0;
}

.mobile__content {
  width: 630px;
}
.mobile__content > * {
  margin-bottom: 40px;
}
.mobile__content > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 1359.5px) {
  .mobile__content {
    width: auto;
  }
}

@media (max-width: 1359.5px) {
  .mobile__img {
    padding: 100px 30px 0 30px;
    width: 630px;
  }
}
@media (max-width: 767.5px) {
  .mobile__img {
    width: 348px;
    padding: 40px 0 0;
  }
}

.mobile__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403F3D;
}

.text__info {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #403F3D;
}

.link-button__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}

.offer {
  padding-bottom: 10px;
}
@media (max-width: 1359.5px) {
  .offer {
    padding-bottom: 48px;
  }
}

.offer__title {
  width: 800px;
  padding-bottom: 40px;
}
@media (max-width: 1359.5px) {
  .offer__title {
    width: auto;
  }
}

.offer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.offer__container {
  display: flex;
  flex-direction: column;
}

.btn-refresh {
  display: none;
  align-self: center;
}
@media (max-width: 1359.5px) {
  .btn-refresh {
    display: flex;
  }
}

.footer {
  padding: 50px 0 40px;
}

.footer__content {
  background: #665F55;
}

.footer__title {
  color: #E1D4C9;
  margin-bottom: 40px;
}

.social__media {
  display: flex;
}
.social__media > * {
  color: #E1D4C9;
  margin-right: 12px;
  cursor: pointer;
}
@media (max-width: 1023.5px) {
  .social__media > * {
    cursor: default;
  }
}

.contacts__title {
  color: #E1D4C9;
  padding-bottom: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.3s;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}
.contacts > * {
  color: #E1D4C9;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.contacts .ico {
  margin-right: 8px;
}
@media (max-width: 1359.5px) {
  .contacts {
    gap: 21px;
  }
}
@media (max-width: 767.5px) {
  .contacts {
    gap: 19px;
  }
}

.contacts__info {
  height: 186px;
}
@media (max-width: 1359.5px) {
  .contacts__info {
    margin: 100px 0px 0px 0px;
  }
}
@media (max-width: 767.5px) {
  .contacts__info {
    margin: 40px 0px 0px 0px;
  }
}

.location, .tel {
  position: relative;
}
.location:before, .tel:before {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  display: block;
  width: 182px;
  height: 2px;
  transform-origin: right;
  background: #E1D4C9;
  transform: scaleX(0);
  transition: transform 0.25s;
}
.location:hover::before, .tel:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
  transform-origin: left;
}

/*# sourceMappingURL=style.css.map */
