//Text
$color-text : #403F3D;
$color-additional: #E1D4C9;
$color-accent: #B0907A;

//Background
$color-body: #E1D4C9;
$color-container: #665F55;
$color-backdrop: rgba(64, 63, 61, 0.80);

//Border
$color-tag-selected: #665F55;
$color-tag-border : #C1B6AD;

//Button
$color-primary: #E1D4C9;
$color-secondary: #665F55;


$content-width: 1360px;
$tablet-width: 768px;
$mobile-width: 380px;