//Text
$color-text: #403F3D;
$color-additional: #E1D4C9;
$color-accent: #B0907A;

//Background
$color-body: #E1D4C9;
$color-container: #665F55;
$color-backdrop: rgba(64, 63, 61, 0.80);

//Border
$color-tag-selected: #665F55;
$color-tag-border : #C1B6AD;

//Button
$color-primary: #E1D4C9;
$color-secondary: #665F55;
$color-button-hover: #403F3D;


//Link
$color-light-underline: #E1D4C9;

$content-width: 1360px;
$laptop-width: 1359.5px;
$tablet-width: 1023.5px;
$tablet-small-width: 767.5px;
$mobile-width: 379.5px;