
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    @include font($size: 16px, $height: 150%, $weight: 400);
    @extend %font-add;
    background: $color-body;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;


}

@media (max-width: 767px) {
    a {
        cursor: default; /* Устанавливаем курсор по умолчанию */
    }
}

/* Для экранов от 768 пикселей и выше, показываем pointer */
@media (min-width: 768px) and (hover: hover) {
    a {
        cursor: pointer;
    }
}


h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    @extend %font-add;
    @include font($size: 72px, $height: 105%, $weight: 600, $color: $color-additional);

    @include media-tablet-small-width {
        @include font($size: 42px, $height: 115%, $weight: 600, $color: $color-additional);
     }
}

.accent-word {
    color: $color-accent;
    font-style: italic;
}

h2 {
    @include font($size: 59.9px, $weight: 600, $height: 125%);

    @include media-tablet {
        @include font($size: 60px, $height: 125%, $weight: 600);
     }
    
    @include media-tablet-small-width {
        @include font($size: 32px, $height: 125%, $weight: 600);
     }
}

h3 {
    @include font($size: 24px, $weight: 600, $height: 125%);
}