body {
    font-size: 1rem;
    font-family: Inter;
    background: $color-body;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}


h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

.accent-word {
    font-style: italic;
}

h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
}