.button {
    padding: 20px 78px;
    @extend %font-add;
    @include font($size: 16px, $weight: 600, $height: 150%);
    cursor: pointer;
    @extend %transition;
    &_primary {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 200px;
        height: 64px;
        border-radius: 100px;
        background: $color-primary;
        border: 1px solid $color-primary;

        .ico-coffe-cup {
            display: none; 
        }

        &:hover .link-button .ico-coffe-cup {
            display: inline-block;

        }
    }
}


.link-button {
    color: inherit;
    text-decoration: none;
    @extend %font-add;
    @include font($size: 16px, $weight: 600, $height: 150%);
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.link-button__text {
    margin-right: 8px;
}

.download-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    width: 200px;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid $color-secondary;
    >* {
        margin-right: 8px;
    }
    &:hover {
        background-color:  $color-tag-selected;
        color: $color-primary;

        .ico-play {
            fill: $color-primary;
        }
    }
}

.btn__info {
    display: flex;
    flex-direction: column;
}

.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid;
}





