%hamburger__line {
    display: inline-block;
    width: 17px;
    height: 2px;
    background-color: $color-text;
    content: "";
    position: absolute;
    border-radius: 2px;
    @extend %transition; 
}


.hamburger {
    display: none;
    @media (max-width: 768px) {
        display: flex;
    }
    @include media-tablet-small-width {
        display: flex;
    }
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    border: 1px solid  $color-secondary;
    position: relative;
    z-index: 200;
    transition: transform .5s, opacity .5s;
    &:before {
        @extend %hamburger__line;
        transform: translateY(-4px);
    }

    &:after {
        @extend %hamburger__line;
        transform: translateY(4px);
    }
}





.hamburger-active {
    &:before {
        transform: rotate(-45deg) ;
       }
   
       &:after {
        transform: rotate(45deg) ;
       }
}


    
