.ico {
    cursor: pointer;
    display: inline-block;
    @extend %transition;
}

.ico-coffe-cup {
    width: 20px;
    height: 20px;
    background-image: url("../assets/icon/coffee-cup.svg");
    @extend %transition;
}


.ico-arrow {
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.ico-map {
    width: 20px;
    height: 20px;
    background-image: url("../assets/icon/pin-alt.svg")
}

.ico-tel {
    width: 20px;
    height: 20px;
    background-image: url("../assets/icon/phone.svg")
}

.ico-time {
    width: 20px;
    height: 20px;
    background-image: url("../assets/icon//clock.svg")
}

.ico-instagramm {
    background-image: url("../assets/icon/instagram.svg");
    width: 24px;
    height: 24px;
}


.download-svg {
    width: 36px;
    height: 36px;
}

.icon-svg {
    width: 24px;
    height: 24px;
}

// .ico__alert {
//     background-image: url("../../assets/icon/info-empty.svg");
//     width: 16px;
//     height: 16px;
// }

.social-icon {
    @extend %transition;
    &:hover {
        background-color:  $color-primary;
        .icon-path {
            stroke: $color-button-hover;
        }

    }
}
