.offer__tags {
    margin-bottom: 40px;
}

.tags {
    display: flex;
    >* {
        margin-right: 16px;
        @include media-mobile {
            margin-right: 8px;
        }
    }
    > *:last-child {
        margin-right: 0;
    }
}

.size__tags {
    .tag {
            margin-right: 8px;
    }
}

.additives {
    .tag {
        margin-right: 8px; 
    }
}

.tag {
    cursor: pointer;
    user-select: none;
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    @include font($size: 16px, $height: 150%, $weight: 600);
    @extend %transition;
    &_selected {
        cursor: default;
        background-color:  $color-tag-selected;
        color: $color-primary;
        .img__tag {
            background:  #E1D4C9;
        }

        .tag-icon {
            background:  #E1D4C9;
            color:  #403F3D;
        }

    }

    &_bordered {
        border: 1px solid $color-tag-border;
        .img__tag {
            background:  #C1B6AD;
        }
    }
    @include media-tablet {
        &_bordered {
            .img__tag {
                background:  initial;
            }
        }
    }



    &:hover {
        background-color:  $color-tag-selected;
        color: $color-primary;
 
        .img__tag {
            background:  #E1D4C9;
        }
        .tag-icon {
            background:  #E1D4C9;
            color:  #403F3D;
        }
        @include media-tablet {
            cursor: default;
        }
    }

}



.img__tag {
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.tag__icon {
    width: 16px;
    height: 24px;
}

