.favorite {
    padding:  50px 0;
}

.favorite__wrapper {
    text-align: center;

}

.favorite__title {
    margin: 0px;
    padding-bottom: 40px;
}




.coffes__text {
    @include font($size: 16px, $height: 150%, $weight: 400);
}

.coffe__img {

    @include media-tablet-small-width {
        padding-bottom: 0px;
        width: 348px;
        height: 348px;
    }
}

.coffes__content {
    // width: 480px;
    padding: 20px 0px 0px;
    >* {

        margin-bottom: 16px;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    @include media-tablet-small-width {
        padding: 20px 0px 0px;
    }
}

.control__buttons {
    padding-top: 40px;

}

.arrow-svg {
    width: 24px;
    height: 24px;
}

.arrow-left {
    transform: rotate(180deg);

}


.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
  }

  .coffes {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 0 auto;
    @include media-tablet-small-width {
      width: 348px;
    }
  }


  
  .active,
  .next {
    display: block;
  }
  
  .next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .control__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    // width: 15%;
    cursor: pointer;
    @media (max-width: 767px) {
        display: none;
        
  }
}
  .control__arrow.left {
    left: 0;
    right: auto;
  }
  
  .control__arrow.right {
    right: 0;
    left: auto;
  }
  
  .arrow-circle {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 84px;
  }
  
  .circle-right {
    right: 50%;
  }
  
  .to-left {
    animation-name: left;
  }
  
  .from-right {
    animation-name: right;
  }
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  

