.favorite {
    padding:  50px 0;
}

.favorite__wrapper {
    text-align: center;
}

.favorite__title {
    margin: 0px;
    padding-bottom: 40px;
}

.coffes {
    width: 480px;
}
.coffes__text {
    @include font($size: 16px, $height: 150%, $weight: 400);
}

.coffe__img {

    @include media-mobile {
        padding-bottom: 0px;
        width: 348px;
        height: 348px;
    }
}

.coffes__content {
    padding: 16px 0px 0px;
    >* {

        margin-bottom: 16px;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    @include media-mobile {
        padding: 14px 0px 0px;
    }
}

.control__buttons {
    padding-top: 38px;

}

.arrow-svg {
    width: 24px;
    height: 24px;
}

.arrow-left {
    transform: rotate(180deg);

}

.arrow-circle {
    @include media-mobile {
        display: none;
    }
}


