.navigation {
    display: flex;

    @extend %font-add;
    @include font($size: 16px, $weight: 600, $height: 150%);
    gap: 40px;
    @media (max-width: 768px) {
        margin: 160px 0 97px 0;
        display: flex;
        flex-direction: column;
        gap: 60px;
        @include font($size: 32px, $weight: 600, $height: 125%);
        text-align: center;
    }
}

.navigation__link {
    list-style: none;
    cursor: pointer;
    @extend %transition;
    position: relative;
    &:before {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        transform-origin: right;
        background: #403F3D;
        transform: scaleX(0);
        transition: transform 0.25s;
    }
    &:hover {
        &::before {
            transform: scaleX(1);
            transition: transform 0.25s;
            transform-origin: left;

        }
    }

    // @media (max-width: 768px) {
     
    // }

}

.link-underline {
    // position: relative;
    gap: 8px;
    transition: right 0.9s ease-in-out;
    &:before {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        transform-origin: right;
        background: #403F3D;
        transform: scaleX(0);
        transition: transform 0.25s;
    }
    &:hover {
        &::before {
            transform: scaleX(1);
            transition: transform 0.25s;
            transform-origin: left;

        }
    }
    @media (max-width: 768px) {
        // display: none;
        top: 573px;
        right: -600px;
     
    }
    
    @include media-tablet-small-width {
        // display: none;
        top: 573px;
        right: -600px;
        // right: 0;
        // left: 0%;
    }
}

.link-button.active-menu {
    position: relative;
    cursor: default;
    &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        transform-origin: right;
        background: #403F3D;
    }
}

.header__navigation {
    @media (max-width: 768px) {
        // margin-bottom: 92px;
        // display: none;
        
    }
    @include media-tablet-small-width {
        // display: none;
        // margin-bottom: 92px;
    }
}

.container__navigation {
    flex-grow: 1;

    @media (max-width: 768px) {
    display: none;
       position: absolute;
       height: 100vh;
       max-width: 100%;
       top: 50%; 
       left: 150%; 
       background-color: $color-body;
       transform: translate(-50%, -50%); 
       transition: left 0.5s ease-in-out;
       z-index: 120;
       width: 100%;
       animation: show-overlay 0.7s ease-in-out;
    }

}

.link-button.link-underline.menu-show.menu-desktop {
    display: flex;

    .link-button__text {
        font-size: 32px;
    }
    .ico-coffe-cup {
        width: 44px;
        height: 44px;
        background-image: url();
    }
}

.navigation-show {
    left: 50%;  
}

.menu-show {
    right: 32px;
}

.open {
    display: block;
}

// .overlay-header {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $color-body;
//     overflow: hidden;
//     animation: show-overlay 0.7s ease-in-out;
//     z-index: 120;

// }



@keyframes  show-overlay {
    from {
    //   opacity: 0;
    //   right: -800px;
    left: 150%; 
    }
    to {
    //   opacity: 1;
    //   right: 0px
    left: 50%;
    }
  }

  .menu-desktop {
    display: none;
  }
  
  .menu-burger {
    @media (max-width: 768px) {

         display: none;
        
    }
  }