.promo__wrapper {
    display: flex;
    background: url("../../assets/img/promo/container.jpg") no-repeat;
    padding-bottom: 100px;
}
.promo__content {
    width: 530px;
    padding: 100px;
}

.block-radius {
    border-radius: 40px;
}