
.promo {
    padding-bottom: 50px;
}

.promo__wrapper {
    display: flex;
    background-image: url("../assets/img/promo/promo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.promo__title {
    max-width: 530px;
    margin: 0 0 40px;
}

.promo__text {
    max-width: 530px;
    margin: 0 0 40px;
    @extend %font-add;
    @include font($size: 16px, $weight: 400, $height: 150%, $color: $color-additional)
}